<div class="container">
  <div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h4>会員の方はこちらからログイン</h4>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
      <div>メールアドレス<%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }, label: false %>
      </div>
      <div>パスワード<%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" }, label: false %>
      </div>
      </div>

      <div class="form-actions">
              <!-- ルーティングを記述 -->
        <h6><%= link_to "=>パスワードを忘れた方はこちら", new_user_password_path, class: "col-xs-offset-left4" %></h6>
        <%= f.button :submit, "ログイン", class: "btn btn-primary" %>
      </div>
      <% end %>
      <h4>登録がお済みでない方</h4>
      <a><%= link_to "こちら", new_user_registration_path %>から新規登録を行ってください。</a>
  </div>
  </div>
</div>
