<div class="container">
  <div class="row">
    <% if @user.errors.any? %>
    <div id="error-explanation">
      <h2><%= @user.errors.count %> errors prohibited this book from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="col-xs-3">

      <h2>登録情報編集</h2>


      <%= form_for(@user) do |f| %>

      <div class="field">
        <%= f.label :名前 %>
        (姓)<%= f.text_field :first_name %>
        (名)<%= f.text_field :last_name %>
      </div>
      <div class="field">
        <%= f.label :フリガナ %>
        (セイ)<%= f.text_field :first_name_kana %>
        (メイ)<%= f.text_field :last_name_kana %>
      </div>
      <div class="field">
        <%= f.label :メールアドレス %>
        <%= f.text_area :email %>
      </div>
      <div class="field">
        <%= f.label :郵便番号 %>
        <%= f.text_area :postcode %>
      </div>
      <div class="field">
        <%= f.label :住所 %>
        <%= f.text_area :address %>
      </div>
      <div class="field">
        <%= f.label :電話番号 %>
        <%= f.text_area :phone_number %>
      </div>
      <div>
      <% if @user.id == current_user.id %>
              <td><%= link_to "変更内容を保存する", edit_user_path(@user), class:"btn btn-defoult" %></td>
              <td><%= link_to 'Destroy', user_path(@user), method: :delete, class:"btn btn-danger", data: { confirm: '本当に消しますか？' } %></td>
              <% end %>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>