<div class="container">
  <div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h3>注文情報確認</h3>
    <table class="table">
	<thead>
		<tr>
			<th>商品</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
		</tr>
	</thead>

	<tbody>
	  <% @sum = 0 %>
  	  <% @cart_item.each do |cart_item| %>
		<tr>
			<td><%= attachment_image_tag(cart_item.item, :image, :fill,40,40,fallback: "no_image.jpg") %><%= cart_item.item.name %></td>
			<td><%= (cart_item.item.price * 1.08).to_i %></td>
			<td><%= cart_item.item_count %></td>
			<td><%= (cart_item.item_count * cart_item.item.price * 1.08).to_i %>
			<% @sum += (cart_item.item_count * cart_item.item.price * 1.08).to_i %></td>
		</tr>
	  <% end %>
    </tbody>
	</table>
	<div class="total_price" style="float: right;">
    <table>
    <tr>
	  <th>送料</th>
	  <th><%= session[:order][:postage] %></th>
	</tr>
	<tr>
	  <th>商品合計</th>
	  <th><%= (@sum).to_i %></th>
	</tr>
	<tr>
      <th>請求金額</th>
      <th><%= (@sum + session[:order][:postage]).to_i %></th>
    </tr>
    <% session[:order][:total_price] = @sum + session[:order][:postage].to_i %>
    </table>
    </div>
	<table>
		<thead>
			<tr>
				<th>お支払い方法</th>
				<th><%= session[:order]["payment"] %></th>
			</tr>
		</thead>
		<tbody>
			<th>お届け先</th>
			<th><%= session[:order]["name"] %></br>
				<%= session[:order]["address"] %>
				<%= session[:order]["postcode"] %></th>
		</tbody>
    </table>
      <%= link_to "購入を確定する", done_orders_path, class: "col-xs-6 col-xs-offset-3 btn btn-success" %>
      <%= link_to "戻る", new_order_path, class: "col-xs-6 col-xs-offset-3 btn btn-danger" %>
  </div>
  </div>
</div>