<%= form_for @order, url:new_user_order_path do |f| %>
  <%# if @order.confirming.blank? %>
    <%= f.label :payment, :クレジットカード %>
    <%= f.radio_button :payment, "クレジットカード" %></br>
    <%= f.label :payment, :銀行振込 %>
    <%= f.radio_button :payment, "銀行振込" %>
    <div class="actions">
    <%= f.submit "確認画面へ進む", class: "btn btn-default pull-right" %>
 	</div>
  <% else %>
    <tabel>
      <tr>
        <th>お名前</th>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <th>お名前</th>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <th>お名前</th>
        <td><%= @user.first_name %></td>
      </tr>
    </tabel>

      <%= hidden_field :last_name, @user.last_name %>
      <%= hidden_field :last_name, @user.last_name %>
      <%= hidden_field :last_name, @user.last_name %>
      <%= f.submit "購入を確定する", class: "btn btn-success pull-right" %>
  <% end %>
  <%# end %>
  <%= hidden_field :confirming, @user.last_name %>