<div class="container">
  <div class="row">
  <div class="col-xs-8 col-xs-offset-4">
  	<h2>配送先登録 / 一覧</h2>
    <%= form_for(@user, url: @user_post_path) do |f| %>
    	<%= f.label :postcode, "郵便番号(ハイフンなし)" %><%= f.text_field :postcode, class: "col-xs-2 user_postcode" %>
        <%= f.label :address, "住所" %><%= f.text_field :address,class: "col-xs-2 user_address" %>
        <%= f.label :name, "宛名" %><%= f.text_field :name, class: "col-xs-2 user_name" %><%= f.submit "登録する", class: "btn btn-primary col-xs-4" %>
  </div>

    <div class="col-xs-10 col-xs-offset-2">
	  <table class="table table-striped">
		<thead>
			<tr>
				<th>郵便番号</th>
				<th>住所</th>
				<th>宛名</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>@post.user.postcode</td>
				<td>@post.user.address</td>
				<td>@post.user.name</td>
				<td><%= link_to "編集する",edit_user_post_path(@user_post.id), class: "btn-sm btn-primary" %>
					<%= link_to "削除する", user_post_path(@user_post.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %></td>
			</tr>
			<% end %>
		</tbody>
	  </table>
	</div>
  </div>
</div>
