<div class="container">
  <div class="row">

  <h2>新規登録</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <p>名前</p>
    <%= f.label :"(姓)" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "name" %>
    <%= f.label :"(名)" %>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "name" %></br>
    <p>フリガナ</p>
    <%= f.label :"(セイ)" %>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "name" %>
    <%= f.label :"(メイ)" %>
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "name" %></br>

    <p>メールアドレス</p>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }, label: false %>
    <p>郵便番号(ハイフンなし)</p>
    <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode" %></br>
    <p>住所</p>
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %></br>
    <p>電話番号(ハイフンなし)</p>
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></br>
    <%= f.label :"パスワード(6文字以上)" %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" }, label: false %>
    <%= f.label :"パスワード(確認用)" %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" }, label: false %>
  </div>

  <div class="form-actions">
    <%= f.submit "新規登録", class: "btn btn-success col-xs-4 col-xs-offset-4" %>
  </div>
<% end %>

</div>
</div>
</div>
